<!DOCTYPE html>
<html ng-app="app">
   <head>
      <title>
         <%= title %>
      </title>
      
      <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
      <link href="/stylesheets/font/css/font-awesome.css" rel="stylesheet">
      <link href="/stylesheets/animate.css" rel="stylesheet">
      <link href="/stylesheets/style.css" rel="stylesheet">
   </head>
   <body ng-controller="BodyCtrl" class="{{cssAdd}}">
      <div id="wrapper">
         <ng-view></ng-view>
      </div>
      
      <!-- Libraries -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ngMask/3.1.1/ngMask.min.js"></script>      
      <script src="js/md5.js"></script>
      
      <script src="/app.js"></script>
      <script src="/controllers/BodyController.js"></script>
      <script src="/controllers/NavController.js"></script>
      <script src="/controllers/LogoutController.js"></script>
      <script src="/controllers/LoginController.js"></script>
      <script src="/controllers/HomeController.js"></script>
      <script src="/controllers/SignupController.js"></script>
      <script src="/controllers/EmployeesController.js"></script>
      <script src="/controllers/EmployeeController.js"></script> 
      <script src="/controllers/RecepcionistsController.js"></script>
      <script src="/controllers/RecepcionistController.js"></script>
      <script src="/controllers/ProvidersController.js"></script>
      <script src="/config.js"></script>
      <!-- Template -->

      <script type="text/ng-template" id="/login.html">
        <%- include templates/login.ejs %>
      </script>
      <script type="text/ng-template" id="/signup.html">
        <%- include templates/signup.ejs %>
      </script>
      <script type="text/ng-template" id="/home.html">
          <%- include top.ejs %>
          <%- include templates/home.ejs %>
          <%- include bottom.ejs %>         
      </script>
      <script type="text/ng-template" id="/employees.html">
          <%- include top.ejs %>
          <%- include templates/employees.ejs %>
          <%- include bottom.ejs %>         
      </script>
      <script type="text/ng-template" id="/employee.html">
          <%- include top.ejs %>
          <%- include templates/employee.ejs %>
          <%- include bottom.ejs %>         
      </script>
      <script type="text/ng-template" id="/recepcionists.html">
          <%- include top.ejs %>
          <%- include templates/recepcionists.ejs %>
          <%- include bottom.ejs %>         
      </script>
       <script type="text/ng-template" id="/recepcionist.html">
          <%- include top.ejs %>
          <%- include templates/recepcionist.ejs %>
          <%- include bottom.ejs %>         
      </script>
      <script type="text/ng-template" id="/providers.html">
          <%- include top.ejs %>
          <%- include templates/providers.ejs %>
          <%- include bottom.ejs %>         
      </script>

      <script src="/js/jquery-2.1.1.js"></script>
      <script src="/js/bootstrap.min.js"></script>  
      <script src="js/metisMenu/jquery.metisMenu.js"></script>
      <script src="js/slimscroll/jquery.slimscroll.min.js"></script>
      <!-- Custom and plugin javascript -->
      <script src="js/inspinia.js"></script>
      <script src="js/pace/pace.min.js"></script>
      <script>
        function doThisWhenTheHashChanges() {
          var path = $(location).attr('hash');
          $('li').removeClass('active');
          $('a[href^="'+path+'"]').closest('li').addClass('active');
          $('a[href^="'+path+'"]').parent().parent().closest('li').addClass('active');
        }
      </script>
   </body>
</html>